vendor/
client/python/TalariaClient.egg-info/
client/python/build/
client/python/dist/
__pycache__/
data
.idea/
testdata-*
.DS_Store
*.vim
.env
.envrc
logs/
*.venv
.vscode/
talaria
*.so
*.lua
*.json
events/
local/
