mode: staging
env: staging
domain: "domain"
readers:
  presto:
    schema: grab_x
    port: 8042
writers:
  grpc:
    port: 8080
  s3sqs:
    region: "ap-southeast-1"
    queue: "queue-url"
    waitTimeout: 1
    retries: 5
storage:
  dir: "/data"
tables:
  timeseries:
    name: eventlog
    ttl: 3600
    hashBy: event
  log:
    name: logs
  nodes:
    name: nodes
statsd:
  host: "statsd-host"
  port: 8126